# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
server/venv/

# ---------------------------
# React / Node
# ---------------------------
node_modules/
build/
client/node_modules/
client/build/

# ---------------------------
# OS files
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# Environment variables
# ---------------------------
.env